*{
    margin:0;
    padding: 0;
}
#nav-bar{
    position:sticky;
    top:0;
    z-index: 2;
    text-transform: uppercase;
}
nav{
    background-color: #7fcec5;
    background-image: linear-gradient(to right, #14557b 0%, #7fcec5  74%);
}

.navbar-nav li a{
    font-weight:600;
    float:right;
    text-align: right;
    color:white !important;
}

.navbar-nav li a:hover{
    color:#eee !important;
}

.fa-bars{
    color:white;
    font-size:30px !important;
}

.navbar-toggler{
    outline:none !important;
}


/*************** BANNER ***************/
#banner{
    background-color: #7fcec5;
    background-image: linear-gradient(to right, #14557b 0%, #7fcec5  74%);
    color: white;
    padding-top:5%;
}
.name{
   font-size:40px;
   font-weight:600;
   margin-top: 5vh; 
}

.bottom-img{
    margin:0;
    width:100%;
}

.banner-img{
    width:100%;
}
/*************TABLE  *************/

#table, #form, #video, #audio{
    padding:1vh !important;
}

#table h2, #form h2, #video h2, #audio h2{
    /* text-align:center; */
    margin-top:2vh !important;
    padding-top:5vh !important;
}

.title::before{
    content:' ';
    background-color: #7fcec5;
    background-image: linear-gradient(to right, #14557b 0%, #7fcec5  74%);
    height:4px;
    width:100px;
    margin-left:auto;
    margin-right:auto;
    display:block;
    transform: translateY(48px);
}

.title::after{
    content:' ';
    background-color: #7fcec5;
    background-image: linear-gradient(to right, #14557b 0%, #7fcec5  74%);
    height:8px;
    width:40px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px;
    display:block;
    transform: translateY(4px);
}

/************************** FORM **************************/

.container form button{
    box-shadow:none;
    padding: 8px 25px;
    border:none;
    border-radius: 20px;
    background-color: #7fcec5;
    background-image: linear-gradient(to right, #14557b 0%, #7fcec5  74%);
    margin-top: 30px;
    /* margin-bottom: 5px; */
}

/************** VIDEO **************/

.container video{
    padding:10px;
    /* margin:20px; */
    width:70%;
}

/************** AUDIO **************/
.container audio{
    /* padding:10px;
    margin:20px; */
    margin: 20px 0;
    width:80%;
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
    /* background-color: #95B9C7; */ 
}

/* #audio div button{
    border:none;
    background: transparent;
} */

/* #audio div button i{
    font-size: 32px;
} */


/*********************** IMAGE ***********************/

#image h2{
    margin-top:50px;
    padding:20px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row .column{
    flex: 33.33%;
    width: auto;
    overflow:hidden;
    padding: 0 4px;
    height: 100%;
}

.row .column img{
    margin-top: 2%;
    width:100%;
    height: 100%;
    cursor: pointer;
    filter: grayscale(1) brightness(0.7);
    transition: 0.3s linear;
}

.row .column img:hover{
    filter: grayscale(0) brightness(1);
}

@media (max-width: 426px){
    #table h2, #form h2, #video h2, #audio h2, #image h2{
        /* text-align:center; */
        margin-top:5.8vh !important;
        padding-top:3vh !important;
    }

    .container video{
        width:100%;
    }

    .row .column{
        flex: 100%;
    }
    .row .column img{
        filter: grayscale(0) brightness(1);
    }
}

@media (min-width: 427px) and (max-width: 768px){
    #table h2, #form h2, #video h2, #audio h2, #image h2{
        /* text-align:center; */
        margin:2vh;
        padding-top:6vh;
    }

    .container video{
        width:100%;
    }

    .row .column{
        flex: 50%;
    }
    .row .column img{
        filter: grayscale(0) brightness(1);
    }
}

@media (min-width: 767px) and (max-width: 991px){
    .row .column img{
        filter: grayscale(0) brightness(1);
    }
}







/**************** SOCIAL MEDIA ICON ****************/
.social-media{
    background: #f8f9fa;
    padding-top: 100px;
    padding-bottom: 30px;;
}



.social-media img{
    width:50px;
    border-radius: 100%;;
    box-shadow: 0 0 10px#ccc;
    transition:0.5s;
    margin: 10px;
}

.social-media a:hover img{
    transform: translateY(-10px);
    box-shadow: 0 0 10px#666;
}

/************* FOOTER *************/

#footer{
    background-color: #7fcec5;
    background-image: linear-gradient(to right, #14557b 0%, #7fcec5  74%);
}

.footer-box{
    padding: 40px;
    font-size: 18px;
    color:white;
    
}